In [1]:
import pandas as pd
from dataset_utils.SeqThermoData import SeqThermoData
from dataset_utils.NUPACKUtils import nupack_yield_analysis
from functools import partial
from p_tqdm import p_map

In [2]:
df = pd.read_csv('datasets\dnahyb_dataset.csv')

In [3]:
df

,Seq1,Seq2,Yield 37C,Yield 42C,Yield 47C,Yield 52C,Yield 57C,Yield 62C,Label 37C,Label 42C,Label 47C,Label 52C,Label 57C,Label 62C
0,AGTACAAGTAGGACAGGAAGATA,TATCTTCCTGTCCTACTCGTACT,0.999938,0.999697,0.998580,0.993700,0.974025,0.903771,1,1,1,1,1,1
1,GAGTTCCGGTTGCCTTTCA,GAGTTCCGGGTGCCTTTCA,0.005026,0.002195,0.000957,0.000423,0.000193,0.000094,0,0,0,0,0,0
2,TCTGGAACTAGTGCAATTTAGC,TCTAAATTGCACTAGTTCCAGA,0.999990,0.999944,0.999681,0.998269,0.991153,0.958831,1,1,1,1,1,1
3,GGCGCGCGACGCGACATCCGATAAGA,TCTTATCGGATCTCGCGTCGCGCGCC,0.999998,0.999991,0.999958,0.999817,0.999227,0.996865,1,1,1,1,1,1
4,GTGTACCATACCATGAACGCCGGA,TCCGGCGTCATGGTATGGTACAC,0.999997,0.999984,0.999902,0.999415,0.996585,0.980806,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2556971,AGCAAGGCACAGGACTTAGTACCAAA,TTTGGTACTAAGTCCTGTGCCGCT,0.999994,0.999968,0.999826,0.999075,0.995240,0.976711,1,1,1,1,1,1
2556972,CAGGCTGAGACCTAACTCTTTAGCC,GGCTAAAAGGTTAGGTCTCAGCCTG,0.999879,0.999543,0.998261,0.993277,0.973733,0.899956,1,1,1,1,1,1
2556973,CATATCAACTCCAGGAATCCTT,AAGGATTCCTGCAGATGATATG,0.993283,0.977796,0.930612,0.802177,0.529762,0.201127,1,1,1,1,1,1
2556974,GAATGCAGAGTTCGATGTCGGT,ACCAGTACACATCGAACTCTGCATTC,0.999919,0.999686,0.998820,0.995678,0.984665,0.948229,1,1,1,1,1,1
2556975,CCGTTGGCATCTGCTACGCTGCTCAG,CTGAGCAGCGTAGCAGACGCCAACGG,0.999999,0.999997,0.999988,0.999943,0.999737,0.998774,1,1,1,1,1,1

In [4]:
pairs = list(zip(df['Seq1'], df['Seq2']))

In [5]:
pairs = [(SeqThermoData(None, p[0]), SeqThermoData(None, p[1])) for p in pairs]

In [6]:
npk = partial(nupack_yield_analysis, temp=62)

In [ ]:
result = p_map(npk, pairs)